[submodule "lib/efp"]
	path = lib/efp
	url = https://github.com/netbrain/excel-formula-parser
[submodule "lib/slickgrid"]
	path = lib/slickgrid
	url = https://github.com/mleibman/SlickGrid
[submodule "lib/highcharts"]
	path = lib/highcharts
	url = https://github.com/highslide-software/highcharts.com.git
